@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
    --pulse1:rgb(255, 166, 0);
    --pulse2:rgb(128, 94, 0);

    --primary_bg:#5463FF;
    --secondary_bg:#444fc9;
    --primary_text:#5D8BF4;
    --primary_shadow:#121533;
    --hover_text:#d4cfcf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary_bg);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock::before, .clock::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 19em;
    height: 9em;
    animation: pulse 1s infinite ;
}



@keyframes pulse {
    0%{
        box-shadow: 0em 0em 0em var(--pulse1);
    }
    10%{
        box-shadow: 0em 0em 3em var(--pulse2);
    }

    20%{
        box-shadow: 0em 0em 1em var(--pulse1);
    }
    30%{
        box-shadow: 0em 0em 3em var(--pulse2);
    }
    40%{
        box-shadow: 0em 0em 0em var(--pulse1);
    }
    
}
.clock{
    position: relative;
    user-select: none;
    background-color: var(--secondary_bg);
    box-shadow: 0em 0em 0em var(--primary_shadow);
    width: 20em;
    height: 10em;
    color: #5D8BF4;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out ;
    margin-bottom: 2em;
}

.clock:hover{
    box-shadow: 0em 0em 1.5em var(--primary_shadow);
    color: var(--hover_text);
    //box-shadow: none;

}


.time-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    .period{
        font-size: 2rem;
    }
    .hour,.minutes{
        font-size: 4rem;
    }

    .misc{
        position: absolute;
        right: 4em;
        text-transform: uppercase;
        font-size: 0.7rem;
    }

    .part{
        margin-bottom: 1em;
    }
}

.date-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;

    .day,.month,.year{
        font-size: 1.2rem;
    }

    .divide{
        font-size: 0.5rem;
    }
}

.social{
    display: flex;
    gap: 1em;
}
.emoji{
    font-size: 1.2rem;
    user-select: none;
    color: #5D8BF4;
}

.fa-brands{
    font-size: 1.5rem;
    color: #5D8BF4;
    transition: 0.2s ease-in-out;
}

.fa-brands:hover{
    color: white;
    transform: scale(1.2);
}
